.vertical-timeline::before {
  background: #00796b;
}

.vertical-timeline-element-content::before {
  border: solid 1px #ddd;
}
.vertical-timeline-element-content {
  border: solid 1px #ddd;
}
.vertical-timeline.vertical-timeline--two-columns {
  margin-top: 2em;
}
.carousel-slider {
  height: 300px;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
